* {
    padding: 0;
    margin: 0;
}

body {
    background: #F5F6F7;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 2.4px;
    text-transform: uppercase;

    color: #373737;
}

p {
    font-size: 14px;
    line-height: 21px;

    color: #4E4E4E;
}

.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;

    color: white;
    background: #00AFDB;
}

.btn_size-1 {
    width: 184px;
    height: 46px;
}

.btn_size-2 {
    width: 126px;
    height: 48px;
}

.btn-main:hover {
    cursor: pointer;
    background: #009CC2;
}

.form {
    display: flex;
}

.form__field {
    width: 340px;
    height: 46px;

    border: none;
    outline: 0;

    box-sizing: border-box;

    padding-left: 24px;
    line-height: 20px;
    color: black;
    font-size: 14px;
}

.form__field::-webkit-input-placeholder {
    color: #373737;
}

.form__submit {
    width: 66px;
    height: 46px;

    border: none;
    outline: 0;
    box-sizing: border-box;
    background: #00AFDB;
}

.form__submit:hover {
    cursor: pointer;
    background: #009CC2;
}

.btn-store {
    display: flex;
}

.btn-store:not(:last-child) {
    margin-right: 30px;
}

.ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 48px;
    background: #009CC2;
}

.main {
    width: 1600px;
    margin: 0 auto;

    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.main__header {
    display: none;
}

.wrapper {
    padding: 0 270px;
}

.promo {
    height: 744px;
    background: rgba(0, 0, 0, 0.4) url(assets/bg-image.png) center/cover;
}

.header__nav {
    width: 36%;
    margin: 0 auto;
    padding-top: 25px;
    padding-right: 14px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav__item {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.nav__item_text {
    opacity: 0.8;
}

.nav__item_active, .nav__item_text:hover {
    padding-bottom: 1px;

    font-weight: 500;
    opacity: 1;

    border-bottom: 1px solid white;
}

.nav__limit {
    border-left: 1px solid #4E4E4E;
}

/*---------------------END NAVIGATION-------------------*/

.your-life {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 160px;
}

.your-life__title {
    padding-left: 5px;
    color: white;
}

.your-life__description {
    width: 500px;
    margin-top: 23px;

    font-size: 18px;
    color: white;
    line-height: 140%;
}

.your-life__button {
    margin-top: 28px;
}

/*---------------------END YOUR LIFE-------------------*/

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 170px;
    margin: 183px auto 0;
}

.social__link {
    width: 20px;
    height: 20px;
    color: white;
}

.social__link_mail {
    background: url("assets/socials/mail.svg");
}

.social__link_insta {
    background: url("assets/socials/insta.svg");
}

.social__link_telegram {
    background: url("assets/socials/telegram.svg");
}

.social__link_facebook {
    background: url("assets/socials/facebook.svg");
}

/*---------------------END PROMO-------------------*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 120px;
    padding-bottom: 120px;
}

.container__info {
    width: 407px;
}

.container__image {
    /*width: 410px;*/
    /*height: 580px;*/
    padding-bottom: 18px;
}

.container__title {
    color: #373737;
    padding-right: 35px;
    padding-bottom: 21px;
}

.container__description {
    color: #4E4E4E;
    padding-bottom: 30px;
}

.rappresent {
    /*height: 842px;*/
    background: white;
}

.rappresent__wrapper {
    /*padding-top: 175px;*/
    padding-bottom: 19px;
}

.rappresent__image {
    /*padding-bottom: 14px;*/
}

.our-community {
    height: 504px;
    margin-left: 270px;

    overflow-x: hidden;
}

.layout-2-col {
    display: flex;
}

.community {
    width: 300px;
    margin-top: 155px;
    text-align: center;

    flex-shrink: 0;
}

.community__image {
    margin-bottom: 14px;
}

.community__title {
    margin-bottom: 10px;
}

.community__description {
    /*line-height: 21px;*/
}

.slider {
    margin-left: 137px;
}

.slider__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 80px;
    margin-top: 78px;
    margin-left: 545px;
    margin-bottom: 19px;
    font-size: 18px;

    color: #373737;
}

.arrow {
    width: 8px;
    height: 8px;

    border-left: 2px solid #373737;
    border-bottom: 2px solid #373737;
    box-sizing: border-box;
}

.left-arrow {
    margin-right: 10px;
    transform: rotate(45deg);
}

.right-arrow {
    margin-left: 10px;
    transform: rotate(-135deg);
}

.slider__items {
    display: flex;
    /*width: 900px;*/
}

.slider__item {
    margin-right: 30px;
}

.implement {
    /*height: 842px;*/
    background: white;
}

.implement__wrapper {
    padding: 0 107px 21px 0;
}

.implement__image {
    order: -1;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 196px;
    padding-bottom: 221px;
    background: rgba(0, 0, 0, 0.5) url("assets/subscribe-bg.png") top/cover;
}

.subscribe__title {
    margin-bottom: 30px;
    color: white;
}

.subscribe__form {
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 468px;
}

.download__title {
    margin-top: 120px;
    margin-bottom: 22px;
    color: #373737;
}

.download__description {
    width: 480px;
    margin-bottom: 26px;
    text-align: center;
}

.download__store {
    display: flex;
}

.footer {
    background: black;
    padding-top: 56px;
    padding-bottom: 80px;
}

.footer__wrapper {
    display: flex;
    align-items: center;
}

.footer__menu {
    width: 236px;
    margin-left: 160px;
}

.footer__logo {
    margin-left: 382px;
}

.footer__copyright {
    margin-left: 448px;
    color: #818181;
}